<div class="container">
    <div class="row mb-3 text-center">
        <h1> Creating New </h1>
    </div>

    <%= render 'shared/form', equipment: @equipment %>

    <div class="row">
        <%= link_to 'Back', :back, class: "btn btn-danger p-3" %>
    </div>
</div>

